* {
    transition: all 0.5s ease;
}

.custom-bg-grey {
    background-color: rgb(249, 249, 249);
}

.wi-icon-sm {
    width: 3rem;
}

.wi-icon-md {
    width: 6rem;
}

.wi-icon-lg {
    width: 9rem;
}

.wi-icon-bg {
    width: 25rem;
    opacity: 50%;
    z-index: -1;
}

.min-temp {
    background-color: rgb(55, 202, 255);
}
.max-temp {
    background-color: rgb(255, 155, 55);
}

.wind-speed {
    background-color: rgb(97, 129, 204);
}

.wind-dir {
    background-color: rgb(97, 204, 145);
}

.widget {
    height: calc(100vh/4);
}

#dropdown-recent {
    width: 100%;
}

.bg-blur {
    background-color: rgba(136, 136, 136, 0.261);
    backdrop-filter: blur(10px);
    height: 3rem;
}

#map {
    width: calc(100% - 16px);
    height: calc(100vh/3);
}

#current-weather {
    width: calc(100% - 16px);
}

@media (min-width: 1199px) {
    #map {
        width: 100%;
        height: calc(100vh/3);
    }

    #current-weather {
        width: 100%;
    }

}