/* transition for all the elements */

* {
    transition: all 0.5s ease;
}

.custom-bg-grey {
    background-color: rgb(249, 249, 249);
}

/* weather icons */

.wi-icon-sm {
    width: 3rem;
}

.wi-icon-md {
    width: 6rem;
}

.wi-icon-lg {
    width: 9rem;
}

.wi-icon-bg {
    width: 12rem;
    opacity: 40%;
    z-index: -1;
}

/* widgets style */

.min-temp {
    background-color: rgb(55, 202, 255);
}
.max-temp {
    background-color: rgb(255, 155, 55);
}

.wind-speed {
    background-color: rgb(97, 129, 204);
}

.wind-dir {
    background-color: rgb(97, 204, 145);
}

#dropdown-recent {
    width: 100%;
}

.bg-blur {
    background-color: rgba(136, 136, 136, 0.261);
    backdrop-filter: blur(10px);
    height: 3rem;
}

.widget {
    flex: 1 1 45%;
}

p {
    margin: 0;
}

#map {
    width: calc(100% - 16px);
    height: calc(100vh/3);
}

#current-weather, #forecast-weather {
    width: calc(100% - 16px);
}

/* media query */
@media (min-width: 1200px) {
    #map {
        width: 100%;
        height: calc(100vh/3);
    }

    #current-weather, #forecast-weather {
        width: 100%;
    }

    .wi-icon-bg {
        height: 20rem;
    }

    .widget {
        flex: 1 1 25%;
    }
}

@media (min-width: 1700px) {
    .widget {
        flex: 1 1 auto;
    }
}